body {
  background: rgb(1, 22, 39);
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
}

.highlight {
  color: red;
}

.hint {
  color: white;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace, monospace;
  margin-bottom: 10px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace, monospace;
}

.line {
  display: flex;
}

.control {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.control .elem {
  margin-right: 10px;
  margin-left: 10px;
}

.control .elem:hover {
  filter: brightness(95%);
}
.elem {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.color-1 {
  background: red;
}

.color-2 {
  background: blue;
}

.color-3 {
  background: orange;
}

.color-4 {
  background: greenyellow;
}

.color-5 {
  background: purple;
}

.score-nums {
  display: flex;
  color: white;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace, monospace;
  align-items: center;
}

.score-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
